<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently pursuing Masters in Computer Science at 
      <a class="underline-link" href="https://cs.uga.edu/graduate-students" target="_blank">The University of Georgia</a> studying and researching things in the field with awesome people. 
    </p>

    <p>
      As a computer science grad student, I enjoy bridging the gap between study and application combining my technical knowledge
      with keen eye for detail. I aspire and work towards building applications that are scalable
      and efficient.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably singing, playing table-tennis or cooking my favorite food.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
