<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Saketh Jammula</span>, a CS grad student focused on building projects &amp; experiences!!
    <span><img height="500" width="500" src="https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmFuZG9tJTIwZm9vZCUyMHN0b3JlfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt = "image"/> </span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:SakethReddy.Jammula@uga.edu" target="_blank" class="highlight-link">SakethReddy.Jammula@uga.edu</a>
    </span>
  </h3>
</header>
